body {
    border: 25px solid #E1E7FA;
    height: 5000px;
    font-family: sans-serif;
    margin: 0;
}

/* Navigation Bar */

.topper {
    position: absolute;
    display: inline;
}

.logo {
    position: fixed;
    margin: 0 auto;
}

.company h1 {
    position: fixed;
    padding-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}

nav ul li {
    margin: 0 50px;
    font-size: .8rem
}

li {
    list-style: none;
}

#butn-in {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    background: #000;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }

.butn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #0828CC;
    padding: 15px 22px 15px 22px;
    text-decoration: none;
  }

  /* Banner */

.banner {
    background: #E1E7FA;
    height: 800px;
    width: 1800px;
    position: absolute;
    margin-left: 75px;
}

.text {
    position: relative;
    height: 400px;
    width: 600px;
    margin: 200px 0 0 300px;
}

.text h1 {
    font-size: 4rem;
}

.text p {
    line-height: 25px;
    margin-bottom: 50px;
}


.butn-2 {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    background: #F80551;
    padding: 18px 25px 18px 25px;
    text-decoration: none;
    }
    
/* underbanner */

.text-box {
    height: 550px;
    width: 1040px;
    background: #fbfbfb;
    position: absolute;
    margin: 900px 0 0 600px;
}

.better-text h1 {
    padding: 100px 0 0 150px;
    font-size: 3.7rem;
}

.better-text p {
    padding-left: 150px;
    line-height: 25px;
}

.little-img {
    height: 200px;
    width: 200px;
    background: indianred;
    position: absolute;
    margin: 1000px 0 0 400px;
}

/* library */

.library {
    height: 500px;
    width: 100%;
    background: #ffffff;
    position: relative;
    margin: 1500px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library h2 {
    font-size: 2rem;
}

/* html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.shipping-promo {
	height: 50px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.shipping-promo span {
	font-weight: bold;
}

.shipping-promo a {
	color: #fff;
}

nav {
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 4em;
}

.brand {
	text-transform: uppercase;
	font-family: serif;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

.hero {
	height: 90vh;
	background: #d7e0e5;
	margin: 0 4em;
	display: flex;
	align-items: center;
}

.hero-text {
	width: 300px;
	margin-left: 15em;
}

.hero-text h1 {
	margin: 0;
	text-transform: capitalize;
}

.sub-heading {
	font-weight: 400;
}

.hero-text p {
	margin-top: 0;
}

.promo {
	margin: 15em 4em 0;
	height: 75vh;
	display: flex;
}

.promo .left,
.promo .right {
	width: 50%;
	height: 100%;
}

.promo .left {
	background: blue;
	margin-right: 1em;
}

.promo .right {
	background: tan;
	margin-left: 1em;
}

.alteration-promo {
	display: flex;
	height: 350px;
	margin: 10em 4em 0;
}

.outer-left {
	display: flex;
	width: 50%;
}

.left,
.right {
	width: 25%;
}

.square {
	height: 50%;
}

.square:nth-child(odd) {
	margin-bottom: 3px;
}

.one {
	background: tomato;
}

.two {
	background: aqua;
}

.three {
	background: slategray;
}

.four {
	background: gold;
}

.middle {
	width: 50%;
	background: #000;
	margin: 0 3px;
}

.outer-right {
	background: #ccc;
	width: 50%;
} */